{% extends 'main/home.html' %}
{% load static %}
{% block content %}
<style>
    * {
        font-family: Nunito, sans-serif;
    }

    .text-blk {
        margin: 0;
        line-height: 25px;
    }

    .responsive-container-block {
        min-height: 75px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto;
    }

    .responsive-container-block.bigContainer {
        padding: 10px 30px;
        background-image: url("https://wallpapercave.com/wp/wp9776942.jpg");
        background-size: cover;
    }

    .responsive-container-block.Container {
        max-width: 800px;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 150px auto;
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
        border-radius: 10px;
    }

    .text-blk.heading {
        font-size: 36px;
        line-height: 45px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    .text-blk.subHeading {
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 60px;
    }

    .socialIcon {
        width: 33px;
        height: 33px;
    }

    .social-icons-container {
        display: flex;
        align-items: flex-start;
    }

    .social-icon {
        margin: 0 50px;
    }

    .social-icon:hover {
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .text-blk.heading {
            font-size: 55px;
            line-height: 65px;
        }

        .text-blk.subHeading {
            font-size: 18px;
            line-height: 24px;
        }

        .socialIcon {
            width: 20px;
            height: 20px;
        }
    }

    @media (max-width: 500px) {
        .responsive-container-block.bigContainer {
            padding: 10px 20px;
        }

        .text-blk.heading {
            font-size: 45px;
            line-height: 55px;
            margin-bottom: 20px;
        }

        .text-blk.subHeading {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 30px;
        }

        .social-icons-container {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
</style>

<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
        <p class="text-blk heading">
            About Us
        </p>
        <p class="text-blk subHeading">
            Welcome to our platform, where we strive to connect communities and empower individuals through innovative solutions. Our mission is to create a positive impact and facilitate meaningful interactions in the digital space. Join us on this journey to foster collaboration and drive change!
        </p>
        <div class="social-icons-container">
            <a class="social-icon" href="https://www.facebook.com" target="_blank">
                <img class="socialIcon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
            </a>
            <a class="social-icon" href="https://twitter.com" target="_blank">
                <img class="socialIcon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
            </a>
            <a class="social-icon" href="https://www.instagram.com" target="_blank">
                <img class="socialIcon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
            </a>
            <a class="social-icon" href="https://www.linkedin.com" target="_blank">
                <img class="socialIcon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
            </a>
        </div>
    </div>
</div>
{% endblock %}
